<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="block" color="primary" (click)="startScan()">Start Scan</ion-button>
  <ion-button expand="block" color="primary" (click)="stopScan()">Stop Scan</ion-button>
  <ion-button expand="block" color="secondary" (click)="disconnect()">Disconnect</ion-button>

  <div *ngIf='!connected'>
    <ion-list>
      <ion-item *ngFor="let p of peripherals" (click)="connect(p)" color="medium" lines="full">
          {{ p || 'Charger' }}
      </ion-item>
    </ion-list>
  </div>

</ion-content>